.hero {
    background: white;
    text-align: center;
    padding: 80px 0;
}

.hero h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 20px;
}

.hero .btn {
    padding: 12px 25px;
    background: #0073e6;
    color: white;
    border: none;
    border-radius: 5px;
}